<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="BD_DP4" connectionString="Data Source=P0VBDDSQLC2\PRODUCTOS; Initial Catalog=erwin_evolve; user id=EUSRSQL00ERWIN; password=gQbB5zwrPNFwvGKhUzKY; persist security info=True; packet size=4096;" providerName="System.Data.SqlClient" />
    <add name="BD_PASARELA" connectionString="Data Source=DHIDBDD.bizkaiko.aldundia\PRODUCTOS; Initial Catalog=PASARELA_ARTEZ; user id=WUSRWEBD; password=javig; persist security info=True; packet size=4096;" providerName="System.Data.SqlClient" />
    <add name="BD_DB2" connectionString="Data Source=DMFBDD.bizkaiko.aldundia; Initial Catalog=DB2DESA; user id=WUSRWEBD; password=javig; persist security info=True; packet size=4096;" providerName="System.Data.SqlClient" />
    <add name="BD_MUGI_DBN8POCARTEZ" connectionString="Data Source=D2VAPPHIDES;Initial Catalog=DBN8POCARTEZ;Integrated Security=True;Trust Server Certificate=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>

